.grid-container {
   grid-template-columns: auto;
   background-color: #2196F3;
   padding: 10px;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-right: 50px;
   margin-left: 35px;
 }

 /*container 1*/
.grid-container1 {
 display: grid;
 grid-template-columns: auto;
 background-color: #2196F3;
 padding: 10px;
}
.grid-item0 {
 background-color: rgba(255, 255, 255, 0.8);
 padding: 20px;
 font-size: 50px;
 text-align: center;
}

/*container 2*/
.grid-container2 {
 display: grid;
 grid-template-columns: auto;
 background-color: #2196F3;
 padding: 10px;
}
.grid-item4 {
 background-color: rgba(255, 255, 255, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;
 margin-left: 125px;
 margin-right: 125px;
}

/*container 3*/
.grid-container3 {
 display: grid;
 grid-template-columns: auto;
 background-color: #2196F3;
 padding: 10px;
 margin-left:50px;
 margin-right: 50px;
}
.grid-item5 {
 background-color: rgba(255, 255, 255, 0.8);
 padding: 20px;
 font-size: 10px;
 text-align: center;
 height: auto;
}

/*container 4*/
.grid-container4 {
 display: grid;
 grid-template-columns: auto;
 background-color: #2196F3;
 padding: 10px;
 margin-top: -18px;
}
.grid-item {
 background-color: rgba(255, 255, 255, 0.8);
 padding: 20px;
 font-size: 30px;
 text-align: center;
}

/*container 5*/
.grid-container5 {
 display: grid;
 grid-template-columns: auto auto;
 background-color: #2196F3;
 padding: 10px;
 height: 165px;
 column-gap: 5px;
}
.grid-itema {
 background-color: rgba(255, 255, 255, 0.8);
 font-size: 20px;
 text-align: center;
 width: 200px;
 margin-left: 110px;
}
.grid-itemb {
 background-color: rgba(255, 255, 255, 0.8);
 font-size: 20px;
 text-align: center;
 width: 200px;
 position:inherit;
}

/*container 6*/
.grid-container6 {
 display: grid;
 grid-template-columns: auto;
 background-color: #2196F3;
 padding: 10px;
}
.grid-item10 {
 background-color: rgba(255, 255, 255, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;
}

/*CSS for cards in grid-container4*/

/* Float five cards side by side */
.column {
 float: left;
 width: 15%;
 padding: 0 10px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
 .column {
   width: 100%;
   display: block;
   margin-bottom: 20px;
   -ms-grid-column-align: center;
 }
}

/* Style the "dog" cards */
.card {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 padding: 5px;
 text-align: center;
 background-color: #f1f1f1;
 margin-left: 5px;
 margin-right: 5px;
 margin-top: 5px;
 margin-bottom: 5px;
}

/*Vertical menu for dog selections*/
.vertical-menu {
 width: 100%;
 height:75px;
 overflow-y: auto;
}
.vertical-menu a{
 background-color:#eee;
 color: black;
 display: block;
 padding:12px;
 text-decoration: none;
}
.vertical-menu a:hover {
 background-color:green;
}
/* For mobile phones: */
[class*="col-"] {
 width: 100%;
}

/* CSS for dog selected card */
.cardChosen {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 width: 100px;
 border-radius: 5px;
 font-size: 10px;
 height: 100px;
 margin-left: 55px;
 margin-top: 30px;
}

img {
 border-radius: 5px 5px 0 0;
}

.searchfield {
 width: 100px;
}

