/* Background image for webpage*/
#bg {
  width:100%;
  height: 150%; 
}
#bg img {
  position:absolute;  
  width: 100%;
  height: 200%;
  z-index: -1;
}

/* Footer-background*/
#footer-bg {
  width:50%;
  height: 110px; 
  margin-bottom: 5px;
  margin-top: 5px;
}

#footer-bg img {
  position:absolute;  
  width: 100px;
  height: 30px;
  z-index: -3;
  opacity: 1.0;
}












/* Main container holding webpage information*/
.grid-container {
    grid-template-columns: auto;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-left: 50px;
  }

  /*container 1*/
 .grid-container1 {
  display: grid;
  grid-template-columns: auto;
  background-color:#E5E1EE;
  padding: 10px;
  border-radius: 25px;
 }
 
 .grid-item0 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 50px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  border-radius: 25px;
 }

 /*container 2*/
 .grid-container2 {
  display: grid;
  grid-template-columns: auto;
  background-color: #FFE6A7;
  padding: 10px; 
  border-radius: 25px;
  margin-right: 225px;
  margin-left: 225px;
  margin-top: 10px;
  margin-bottom: 5px;
 }

 .grid-item4 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  margin-left: 125px;
  margin-right: 125px;
  border-radius: 25px;
 }
 
 /*container 3*/
 .grid-container3 {
  display: grid;
  grid-template-columns: auto;
  background-color: #BB9457;
  padding: 5px;
  margin-left:145px;
  margin-right: 145px;
  border-radius: 25px;
  margin-bottom: 10px;
  font-family: 'Give You Glory', cursive;
 }

 .grid-item5 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  height: 200px;
  margin-bottom: 2em;
  border-radius: 25px;
  font-family: 'Give You Glory', cursive;
 }

 .grid-item7 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 25px;
  font-family: 'Give You Glory', cursive;
 }

 /*container 4*/
 .grid-container4 {
  display: grid;
  grid-template-columns: auto;
  background-color: #81726A;
  padding: 5px;
  margin-top: 20px;
  border-radius: 25px;
 }

 .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 25px;
 }

 /*container 6*/
 .grid-container6 { 
  display: grid;
  grid-template-columns: auto;
  background-color: #81726A;
  padding: 5px;
  border-radius: 25px;
  margin-left: 25px;
  margin-right: 25px;
 }

 .grid-item10 {
  font-size: 30px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  background-color: #BB9457;
  margin-top:10px;
  border-radius: 25px;
 }


 
 /*Vertical menu for dog selections*/
 .vertical-menu1,.vertical-menu2 {
  width: 100%;
  height:190px;
  overflow-y: auto;
 }
 
 img {
  border-radius: 5px 5px 0 0;
  height: 10em;
  width: 10em;
 }
 
 .card{
    width: 11em;
    float: left;
    margin: 1em;
 }
 
 /* For mobile phones: */
 [class*="col-"] {
   width: 100%;
  }
  
  .row {
    width: 400px;
    margin-left:150px;
    font-family: 'Give You Glory', cursive;
     
  }

  /*CSS for dog button*/
  .dogButton {
    font-family: 'Give You Glory', cursive;
      margin-left:250px;
  }

