.question-phrase{
  font-size: 19px;
}
/* Background image for webpage*/
#bg {
  width:100%;
  height: 150%; 
}
#bg img {
  position:absolute;  
  width: 100%;
  height: 200%;
  z-index: -1;
}
/* Footer-background*/
#footer-bg {
  width:50%;
  height: 110px; 
  margin-bottom: 5px;
  margin-top: 5px;
}
#footer-bg img {
  position:absolute;  
  width: 100px;
  height: 30px;
  z-index: -3;
  opacity: 1.0;
}
/* Main container holding webpage information*/
.grid-container {
    grid-template-columns: auto;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-left: 50px;
  }
  /*container 1*/
 .grid-container1 {
  display: grid;
  grid-template-columns: auto;
  /* background-color:#E5E1EE; */
  padding: 10px;
  border-radius: 25px;
 }
 .grid-item0 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 50px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  border-radius: 25px;
 }
 /*container 2*/
 .grid-container2 {
  display: grid;
  grid-template-columns: auto;
  background-color: #FFE6A7;
  padding: 10px; 
  border-radius: 25px;
  /* margin-right: 30px;
  margin-left: 265px;
  margin-top: 5px;
  margin-bottom: 0px; */
  margin: 5px auto;
  width: 500px;
  font-family: 'Give You Glory', cursive;
 }
 .grid-item4 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  margin-left: 125px;
  margin-right: 125px;
  border-radius: 25px;
 }
 /*container 3*/
 .grid-container3 {
  display: grid;
  grid-template-columns: auto;
  background-color: #BB9457;
  padding: 5px;
  margin-left:145px;
  margin-right: 145px;
  border-radius: 25px;
  margin-bottom: 10px;
  font-family: 'Give You Glory', cursive;
  margin-top: 5px;
 }
 .grid-item5 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  height: 500px;
  margin-bottom: 2em;
  border-radius: 25px;
  font-family: 'Give You Glory', cursive;
 }
 .grid-item7 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 25px;
  font-family: 'Give You Glory', cursive;
 }
 /*container 4*/
 .grid-container4 {
  display: grid;
  grid-template-columns: auto;
  /* background-color: #81726A; */
  padding: 5px;
  margin-top: 20px;
  border-radius: 25px;
 }
 .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 25px;
 }
 /*container 6*/
 .grid-container6 { 
  display: grid;
  grid-template-columns: auto;
  /* background-color: #81726A; */
  padding: 5px;
  border-radius: 25px;
  margin-left: 25px;
  margin-right: 25px;
 }
 .grid-item10 {
  font-size: 30px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  /* background-color: #BB9457; */
  margin-top:10px;
  border-radius: 25px;
 }
 /*Vertical menu for dog selections*/
 .vertical-menu1 {
  width: 1000px;
  height:400px;
  overflow-y: auto;
 }
 img {
  border-radius: 5px 5px 0 0;
  height: 10em;
  width: 10em;
 }
 .vertical-menu2 {
  width: 1000px;
  height:200px;
  overflow-y: auto;
 }
 img {
  border-radius: 5px 5px 0 0;
  height: 10em;
  width: 10em;
 }
 .card{
    width: 11em;
    float: left;
    margin: 1em;
    height: 390px;
 }
 .breedcard{
  width: 11em;
  float: left;
  margin: 1em;
  height: 220px;
  background-color: white;
}
 /* For mobile phones: */
 [class*="col-"] {
   width: 100%;
  }
  .row {
    width: 1000px;
    /* margin-left:150px; */
    margin-left: auto;
    margin-right: auto;
    font-family: 'Give You Glory', cursive; 
  }
  /*CSS for dog button*/
  .dogButton {
    font-family: 'Give You Glory', cursive;
      margin-left:295px;
  }
  /*Modal Styling*/
  /* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.6s;
  animation-name: animatetop;
  animation-duration: 0.6s
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: block;
  padding-right: 2cm;
}
.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #FFE6A7;
  color: black;
  display: inline-block;
}
.modal-body {
  padding: 2px 16px;
}
.modal-footer {
  padding: 2px 16px;
  background-color: #FFE6A7;
  color: black;
  height: 10px;
}
.form {
  width: 500px;
  height: 35px;
  margin-left: 2px;
  margin-left: 2px;
}